# Created by https://www.toptal.com/developers/gitignore/api/automationstudio
# Edit at https://www.toptal.com/developers/gitignore?templates=automationstudio

### AutomationStudio ###
## Automation Studio : ignore temporary files and build results (.gitignore parallel to *.apj)
# Ignore AR versions as those are not considered part of the project
/SimpleProject/AS/System/
# Ignore build results
SimpleProject/Binaries/
# Ignore debugging configurations (Watch,...)
/SimpleProject/Diagnosis/
# Ignore Temporary Safety files
/SimpleProject/Physical/*/*/*/DLFiles/
# Ignore standard temp folder
SimpleProject/Temp/

# Ignore upgrades as those are not considered part of the project source code
/SimpleProject/Upgrades/
# Ignore user settings file
/SimpleProject/*.set
# Ignore is open indication
/SimpleProject/*.isopen
# Ignore debug logs
/SimpleProject/debug.log
# Ignore Conversion logs (AS2 to AS3)
/SimpleProject/ConvertLog.txt

# End of https://www.toptal.com/developers/gitignore/api/automationstudio